[user]
    name = Jakub Wadolowski
    email = jakub@wadolowski.tech

[includeIf "gitdir:~/projects/github/"]
    path = ~/.gitconfig_github

[includeIf "gitdir:~/.config/nvim/"]
    path = ~/.gitconfig_github

[includeIf "gitdir:~/projects/github/brave/"]
    path = ~/.gitconfig_brave

[includeIf "gitdir:~/projects/github/brave-experiments/"]
    path = ~/.gitconfig_brave

[includeIf "gitdir:~/projects/github/brave-intl/"]
    path = ~/.gitconfig_brave

[alias]
    br = branch
    ci = commit --no-verify
    cl = clone --recurse-submodules
    co = checkout
    ds = diff --staged
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    ph = push -u origin HEAD
    pl = pull
    plf = pull --force
    rv = remote -v
    st = status
    sti = status --ignored
    fco = "!git co $(git for-each-ref --format='%(refname:short)' | grep -v "HEAD" | sed 's#^origin/##' | sort | uniq | fzf --layout=reverse)"
    sf = diff --name-only --staged
    gone = "!f() { git fetch --all --prune; git branch -vv | awk '/: gone]/{print $1}' | xargs git branch -D; }; f"
    undo = reset --soft HEAD^

[core]
    pager = delta
    excludesfile = $HOME/.gitignore_global

[color]
    ui = true

# https://stackoverflow.com/a/62653400/6802186
[pull]
    rebase = true

[init]
    defaultBranch = main

[fetch]
	prune = true
	pruneTags = true

[interactive]
    diffFilter = delta --color-only --features=interactive

[include]
    path = ~/.gitconfig_catppuccin

[delta]
    # https://github.com/dandavison/delta/issues/773
    hunk-header-style = omit 
    features = catppuccin-mocha
	line-numbers = true

# vim: ft=gitconfig
