# ----------------------------------------------------------------------------
# vim/NeoVim
# ----------------------------------------------------------------------------

# Complied vim dictionaries
config/nvim/spell/*.spl

# Built-in filebrowser
config/nvim/.netrwhist
