# ----------------------------------------------------------------------------
# nvim
# ----------------------------------------------------------------------------

# Complied vim dictionaries
config/nvim/spell/*.spl

# Built-in filebrowser
config/nvim/.netrwhist

# ----------------------------------------------------------------------------
# oh-my-zsh
# ----------------------------------------------------------------------------
oh-my-zsh/custom/example.zsh
